<form class="form bg-white p-6 my-10 relative" [formGroup]="editUserForm">
  <div
    class="icon bg-white-600 text-white w-6 h-6 absolute flex items-center justify-center p-5"
    style="left: -40px;"
  >
    <i class="fal fa-phone-volume fa-fw text-2xl transform -rotate-45"></i>
  </div>
  <h3 class="text-2xl text-gray-900 font-semibold">Editar Usuario</h3>
  <p class="text-gray-600">Llenar todos los campos.</p>
  <div class="flex">
    <div class="w-3/4">
      <div class="flex mt-3">
        <input
          formControlName="nombre"
          type="text"
          placeholder="Ingrese Nombre"
          class="border p-2 w-1/3 mx-2"
        />
        <input
          formControlName="apellido"
          type="text"
          placeholder="Ingrese Apellido"
          class="border p-2 w-1/3 mx-2"
        />
        <input
          formControlName="edad"
          type="number"
          placeholder="Ingrese Edad"
          class="border p-2 w-1/3 mx-2"
        />
      </div>
      <div class="flex mt-3">
        <input
          formControlName="email"
          type="email"
          placeholder="Ingrese Email"
          class="border p-2 w-1/3 mx-2"
        />
        <input
          formControlName="password"
          type="password"
          placeholder="Ingrese Password"
          class="border p-2 w-1/3 mx-2"
        />
        <input
          formControlName="rol"
          type="text"
          placeholder="Ingrese Rol"
          class="border p-2 w-1/3 mx-2"
        />
      </div>
    </div>
    <div class="w-1/4">
      <div>
        <input
          class="border p-2 w-full mx-2"
          type="file"
          formControlName="foto_perfil"
          #userpic
          (change)="sendFile($event)"
          placeholder="File"
        />
        <img src="{{ seeFile }}" />
      </div>
    </div>
  </div>
  <button
    class="w-full mt-6 bg-white-600 hover:bg-blue-500 text-white font-semibold p-3"
    (click)="_update()"
  >
    Submit
  </button>
</form>
