<section class="bg-white font-family-karla h-screen">
  <div class="w-full flex flex-wrap">
    <!-- Login Section -->
    <div class="w-full md:w-1/2flex flex-col">
      <div
        class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24"
      >
        <a class="bg-green text-white font-bold text-xl p-4">Logo</a>
      </div>

      <div
        class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32"
      >
        <p class="text-center text-3xl">Bienvenido.</p>
        <form [formGroup]="loginForm" class="flex flex-col pt-3 md:pt-8">
          <div class="flex flex-col pt-4">
            <label for="email" class="text-lg">Email:</label>
            <input
              formControlName="email"
              type="email"
              placeholder="example@email.com"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
            />
          </div>

          <div class="flex flex-col pt-4">
            <label for="password" class="text-lg">Contraseña:</label>
            <input
              formControlName="password"
              type="password"
              placeholder="Password"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
            />
          </div>

          <button
            class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8"
            (click)="login()"
          >
            Iniciar sesion
          </button>
        </form>
    
      </div>
    </div>

   
  </div>
</section>
